<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
       >
       <!-- default-autowire="byName" -->
    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
    	<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
    	<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
    	<property name="username" value="scott" />
    	<property name="password" value="123456" />
    	
    	 <!-- 设置初始连接数 -->
         <property name="initialSize" value="3"/>
         <!-- 设置最大活动连接数 -->
         <property name="maxActive" value="10"/>
         <!-- 设置最大空闲连接数 -->
         <property name="maxIdle" value="5"/>
         <!-- 设置获取连接的最长待待时间 -->
         <property name="maxWait" value="3000"/>
    </bean>
    
	<!-- 配置会话工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:Mybatis-config.xml"></property>
		
		<!-- 配置sql映射文件路径 -->
		<property name="mapperLocations">
			<list>
				<value>classpath:com/sxt/ssm/mapper/*.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 配置Mapper扫描 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="com.sxt.ssm.dao" />
	</bean>
	
	<!-- 配置事务管理 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	 <!-- 基于事务管理器来配置事务属性，用来指定事务策略 
          method标签中的name属性指定业务方法的名称；propagation属性指定事务策略
     -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="*" propagation="SUPPORTS"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 配置事务切面 -->
	<aop:config>
		<aop:pointcut  id="servicePointcut" expression="execution(* com.sxt.ssm.service.impl..*(..))"/>
		
		 <!-- 将事务属性绑定到切入点上(织入) -->
         <aop:advisor advice-ref="txAdvice" pointcut-ref="servicePointcut"/>
	</aop:config>
	<!-- 配置组件扫描 -->
	<context:component-scan base-package="com.sxt.ssm.service.impl" />
</beans>

